#updateForm {
	width: 700px;
	max-width: 100%;
	height: auto;
	margin: 5% auto;
	padding: 20px;
	border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
	font-size: 16px;
}


input[type=text] {
	background-color: #dcdcdc;
	margin-bottom: 20px;
	border: 0;
	width: 100%;
	padding: 10px;
	margin-top: 2px;
	box-sizing: border-box;
}

input[type=text]:focus {
	border: 2px solid #004346;
	background-color: #fff;
}

label{
	color: #011627;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Jost', sans-serif;
}

.submitButton {

	width: 30%;
	height: 40px;
	margin: 10px auto;
	display: block;
	color: #fff;
	background: #022542;
	font-size: 1em;
	font-weight: bold;
	margin-top: 15px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.submitButton:hover{
	background: #011627;
}

.success-msg{
	font-family: 'Jost', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #271001;
    text-align: center;
    margin-top: 20px;
}