{% extends 'base.html' %}

{% load static %}

{% block title %}
	<title>{{ name }}</title>
{% endblock %}

{% block customcss %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block custombody %}
<div class="container">
	<div id="details">
	  <div class="row">
		  <h1 class="title">WELCOME TO <span class="name">{{ name }}</span></h1>
		  <div id="countdown" class="box">
			{% include 'countdown.html' %}
		  </div>
		  <br/>
		  <div class="categories">
			<h2 class="categories-title">Challenges are available in the following categories:</h2>
			<ul class="categories-list">
				{% for cat in allowed %}
					<li class="category-item">{{ cat }}</li>
				{% endfor %}				  
			</ul>
			<br>
			<br>
			<p class="categories-title">The CTF is scheduled to commence on Saturday June 24, 2023, at 10:00 AM and will continue for a duration of 36 hours..</p>
			<br>
			<br>
			<br>
			<h1 class="title">Rules</h1>
			<div class="rules">
			<br>
					<li>Challenges are mostly beginner-friendly and some medium difficulty and a couple hard ones.</li>
					<li>Sharing of flags, hints, solutions or whatever information regarding the challenges between different players is prohibited.</li>
					<li>No brute-force guessing flags. Feel free to try several flags if you're not sure, but don't try any sort of brute forcing on the flags. </li>
					<li>Flags are in the format: <b><code>aupCTF{5an1ty-ch3ck} </code></b> except if specified differently.</li>
					<li>Finally, have fun and try and learn something new!</li>

			<br>
			<br>
			</div>
			<h1 class="title">Tags</h1>
			<br>
			<ul class="categories-list">
				{% for tag in tags %}
					<li class="category-item">{{ tag }}</li>
				{% endfor %}				  
			</ul>
			</div>
		  </div>
		  <br/>
		  <br/>
		  <br/>
	  </div>
	</div>
  </div>
  
{% endblock %}