{% extends 'base.html' %}

{% load static %}

{% block title %}
	<title>Change Password</title>
{% endblock %}

{% block customcss %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/update.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
{% endblock %}

{% block custombody %}
	
<div id="updateForm" style="margin-top: 10%">
    <div class="chpw">
        <form method="post">
            {% csrf_token %}
                {{ form.as_p }}
            <button type="submit" class="submitButton">Save Changes</button>
        </form>
    </div>
</div>


{% endblock %}