{% extends 'base.html' %}

{% load static %}

{% block title %}
	<title>Profile</title>
{% endblock %}

{% block customcss %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block custombody %}
	
	<div id="pageHeading">
		<p>Profile</p>
	</div>

	<div class="container">
		<div id="updateForm">
			<p><b>Username</b> : {{ user.username }}</p>
			<p><b>Email</b> : {{ team.email }}</p>
			<p><b>Affiliation:</b> {{ team.affiliation }} <a href="{% url 'update_affiliation' %}">⚙️</a></p>

			<p><b>CTF Profile</b> : <a href="/accounts/user/"> 🔗 </a></p>
			<div style="text-align: center; color: #022542; font-weight: bold;">
				<a href="changepassword/">Change Password</a>
			</div>
		</div>
	</div>


{% endblock %}