{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width" , initial-scale=1, viewport-fit="cover">
	
	{% block title %}

		<title>{{ name }}</title>
	
	{% endblock %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<link href='https://fonts.googleapis.com/css?family=Varela' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet'>
	<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

	{% block customcss %}
	{% endblock %}
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-DR06PKTJJH"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-DR06PKTJJH');
	</script>
<!-- 100% privacy friendly analytics -->
<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript></head>
<body>
	<!-- Navigation bar -->
	<div id="navigationBar">
		<div class="container">
			<div class="navigationBarLeft">
				<ul>
					<li><a href="/">aupCTF</a></li>
					<li class="des"><a href="/resources/">Resources</a></li>
					<li class="des"><a href="/scoreboard/">Scoreboard</a></li>
					<li class="des"><a href="/challenges/">Challenges</a></li>
				</ul>
			</div>
			<div class="navigationBarRight">
				<ul>
					<li id="navbarToggle">MENU</li>
					{% if request.user.is_authenticated %}
					{% if request.user.is_superuser %}
						<li class="des">
							<a href="/manage/">Admin Panel</a> &nbsp; | &nbsp;
							<a href="/accounts/logout/"> Logout</a>
						</li>
					{% else %}
						<li class="des">
							<a href="/accounts/profile/">Logged in as {{ user.username }} &nbsp; | &nbsp; </a>
							<a href="/accounts/logout/"> Logout</a>
						</li>
					{% endif %}
					{% else %}
						<li class="des"><a href="/accounts/login/">Login</a> &nbsp; | &nbsp; <a href="/accounts/register/">Register</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>

	{% block custombody %}
	{% endblock %}

	<footer class="footer">
		<div class="container text-center">
		<br>
		<br>
		<small class="text-muted">Powered by <a href="https://github.com/asadse7en/fypCTF" target="_blank" style="font-weight: bold;">fypCTF</a></small>
		<br>
		<br>
		</div>
	</footer>
		

	<script type="text/javascript" src="{% static 'js/base.js' %}"></script>

</body>
</html>
