#register {
	width: 550px;
	max-width: 100%;
	height: auto;
	margin: 5% auto;
	padding: 20px;
	border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

#login {
	width: 550px;
	max-width: 100%;
	height: auto;
	margin: 5% auto;
	padding: 20px;
	border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

#chpw {
	width: auto;
	max-width: 100%;
	height: auto;
	margin: 5% auto;
	padding: 20px;
	border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

.Form {
	margin-top: 20px;
}

table {
	width: 100%;
}

span {
	display: inline-block;
	width: 100%;
}

input[type="text"], input[type="password"], input[type=email] {
	background-color: #dcdcdc;
	margin-bottom: 20px;
	margin-left: 25px;
	margin-right: 20px;
	border: 0;
	width: 90%;
	padding: 10px;
	margin-top: 2px;
	box-sizing: border-box;
}

input[type=text]:focus, input[type="password"]:focus, input[type=email]:focus {
	border: 2px solid #004346;
	background-color: #fff;
}

label{
	color: #011627;
	font-size: 3em;
	text-transform: uppercase;
	justify-content: center;
	display: flex;
	font-weight: bold;
	cursor: pointer;
	font-family: 'Jost', sans-serif;
}

.submitButton {

	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #022542;
	font-size: 1em;
	font-weight: bold;
	margin-top: 15px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.submitButton:hover{
	background: #011627;
}


.user {
	color: #004346;
	float: right;
}

.error{
	color: #ff0000;
}