{% extends 'base.html' %}

{% load static %}

{% block title %}
	<title>Login</title>
{% endblock %}

{% block customcss %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
{% endblock %}

{% block custombody %}

	<div id="login">
		<label>Login</label>
		<div class="Form">
			<form method="post">
				{% csrf_token %}
	
				{% for field in form %}
					<div>
						{{ field }}
						{{ field.errors }}
					</div>
				{% endfor %}
	
				<button type="submit" name="submit" class="submitButton">Login</button>
			</form>
			<div class="user">
				<a href="../register">Not a user? Sign Up</a>
			</div>
		</div>
	</div>

{% endblock %}