{% extends 'base.html' %}

{% load static %}

{% block title %}
	<title>Login</title>
{% endblock %}

{% block customcss %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
{% endblock %}

{% block custombody %}

	<div id="login">
		<label>Login</label>
		<div class="Form">
			<form method="post">
			  {% csrf_token %}
	  
			  {% if form.non_field_errors %}
          <div class="error-message">
            {% for error in form.non_field_errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}

        <div>
          {{ form.username }}
          {% if form.errors.username %}
            <div class="error-message">
              {% for error in form.errors.username %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <div>
          {{ form.password }}
          {% if form.errors.password %}
            <div class="error-message">
              {% for error in form.errors.password %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
        </div>
	
				<button type="submit" name="submit" class="submitButton">Login</button>
			</form>
			<div class="user">
				<a href="../register/">Not a user? Sign Up</a>
			</div>
		</div>
	</div>

{% endblock %}